<div class="container">
    <div class="row">
        <div class="form_bg">
            <form action="/logout" method="POST">
                <h2 class="text-center">HOME</h2>
                <br/>

                <table id="onlineUsers" class="table table-inverse">
                    <thead>
                        <tr>
                            <th>User Name</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="align-center">
                    <button type="submit" class="btn btn-default">Logout</button>
                </div>
            </form>
        </div>
    </div>
</div>
